{% extends "base.html" %}

{% block title %}
    About
{% endblock %}

{% block body %}
    <div id="content">
        <h1>Why should I use this?</h1>
        <p>
           For starters, it collects all current and upcoming movies in the UAE in a simple to use website.
           That by itself should be enough, I think.
        </p>
        <p>
           However, there's more. If you create an account, you'll be able to receive an email on the release
           or announcement of your favorite films. You'll also be able to find cinema goers in the region who share
           your tastes.</p>
    </div>
{% endblock %}